<a href="https://colab.research.google.com/github/bandenawaz/bgmit_internship_23_ds_work/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

A python library to deal with sequential and tabular data.

It has two data structures
1. **Series:** It is one dimensional labelled array
capable of holding data of type(int, string,float,objects)

The axis labels are collectively called as **index**.

Python Series is nothing but a column in excel sheet.

**installing pandas**
1. pip install pandas #local machine
2. conda install pandas #for anaconda terminal
3. !pip install -g pandas # for notebooks(jupyter, colab)

In [1]:
import pandas as pd
import numpy as np

In [3]:
#lets create simple pandas series
ser = pd.Series(dtype=object)
print(ser)

Series([], dtype: object)

In [4]:
#lets create an series with array
data = np.array([1,2,3,4,5,6,7,8,9,10])
pd.Series(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#lets create an series with string array
arr = ['d','a','t','a','s','c','i','e','n','c','e']
print(pd.Series(arr))

0     d
1     a
2     t
3     a
4     s
5     c
6     i
7     e
8     n
9     c
10    e
dtype: object

In [11]:
lst = ['Python',3.12,7*9,8//4,5>7]
pdLst = pd.Series(lst)
print(pdLst, type(pdLst))

0    Python
1      3.12
2        63
3         2
4     False
dtype: object <class 'pandas.core.series.Series'>

In [12]:
#lets create series using dictionary
d = {
    'a':1,'b':2,'c':3
}
pdDict = pd.Series(d)
print(pdDict, type(pdDict))

a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>